/* =============================================================================
   HTML5 CSS Reset Minified
   ========================================================================== */

   html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
   body{line-height:1}
   article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
   nav ul{list-style:none}
   blockquote,q{quotes:none}
   blockquote:before,blockquote:after,q:before,q:after{content:none}
   a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;text-decoration:none}
   mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
   del{text-decoration:line-through}
   abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
   table{border-collapse:collapse;border-spacing:0}
   hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
   input,select{vertical-align:middle}
   li{list-style:none}

/* ----------------------------------------------- */
/* BASIC SETUP */
/* ----------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: #282525;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

canvas{
    display: block;
  }
  

.clearfix {
    zoom: 1;
}

.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/* ----------------------------------------------- */
/* Header*/
/* ----------------------------------------------- */

header {

    display: grid;
    grid-template-rows: auto 1fr;
    height: 100vh;
    position: relative;
}
/* ---- stats.js ---- */

.count-particles{
    background: #efeff5;
    position: absolute;
    top: 48px;
    left: 0;
    width: 80px;
    color: #13E8E9;
    font-size: .8em;
    text-align: left;
    text-indent: 4px;
    line-height: 14px;
    padding-bottom: 2px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
  }
  
  .js-count-particles{
    font-size: 1.1em;
  }
  
  #stats,
  .count-particles{
    -webkit-user-select: none;
    user-select: auto;
    margin-top: 5px;
    margin-left: 5px;
  }
  
  #stats{
    border-radius: 3px 3px 0 0;
    overflow: hidden;
  }
  
  .count-particles{
    border-radius: 0 0 3px 3px;
  }
  
  
  /* ---- particles.js container ---- */

  #particles-js{
    position: absolute;
    opacity: 0.5;
    inset: 0;
    z-index: 1;
    background-color: #282525;
    background-image: url('');
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }

/* ----------------------------------------------- */
/* Navigation Menu*/
/* ----------------------------------------------- */

.navbar {
    display: flex;
    list-style-type: none;
    margin-left: 30px;
    padding: 0;
    z-index: 2;
    overflow: hidden;
}

.navbar li {
    float: left;
}

li a,
.dropbtn {
    display: inline-block;
    color: #eb0909;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

li a:hover,
.dropdown:hover .dropbtn {
    background-color: #ffffff;;
}

li.dropdown a {
    color: #ffffff;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #eb0909;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 3;
}

.dropdown-content a {
    color: #eb0909;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    z-index: 4;
}

.dropdown-content a:hover {
    background-color: rgba(244, 240, 240, 0.6);
    color: #fff;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* ----------------------------------------------- */
/* Fade In*/
/* ----------------------------------------------- */

.fade-in {
    opacity: 1;
}

.fade-out {
    opacity: 0;
}

#heading3 {
    opacity: .5; /* Start with hidden text */
    transition: opacity 1s;
}


/* ----------------------------------------------- */
/* Reusable Compononents*/
/* ----------------------------------------------- */

section {
   padding-top: 10px;
}

.box {
    padding: 1%;
}

h1,
h2
{
    font-weight: 300;
    text-transform: uppercase;
}

h1 {
    color: #fff;
    font-size: 500%;
    word-spacing: 4px;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

h2 {
    font-size: 250%;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
    color: #FFFFFF;
}

h1:after {
    display: block;
    height: 3px;
    background-color: rgba(248, 0, 0, 0.6);
    content: " ";
    width: 90%;
    margin: 0 auto;
    margin-top: 0px;
} 

h3 {
    font-size: 200%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
    margin-top: 20px;
    color: #FFFFFF;
}

h4 {
    font-size: 150%;
    text-align: center;
    margin-top: 0;
    padding: 30px 40px;
    text-transform: uppercase;
}

h5 {
    font-size: 150%;
    color: #ffffff;
    text-align: center;
    margin-top: 0;
    padding: 30px 40px;
    text-transform: uppercase;
}

h6{
    font-size: 25px;
    color: #000000;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
}

span{
    font-size: 100%;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 0;
    text-transform: uppercase;
}

span[itemprop="name"]{
    font-weight: bold;
}

.aboutme {
    background-color: #FFFFFF;
    opacity: 1;
    min-height: 70vh;
    margin: 0 auto;
}

.visualizations {
    opacity: 1;
    min-height: 50vh;
    margin: 0 auto;
}
.references{
    background-color: #FFFFFF;
    opacity: 1;
    min-height: 50vh;
    margin: 0 auto;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Creates 4 equal columns */
    gap: 20px; /* Space between columns */
    padding: 20px; /* Padding around the grid */
    justify-content: center;
    align-content: center;
    padding-bottom: 5%;
  }

 .references .grid-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    align-items: start;
    background-color: #FFFFFF;
}

.center-container {
    position: relative;
    display: grid;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items:stretch;
}

.center-container p{
    line-height: 200%;
    font-family: Barcelony Signature;
}

.content-container{
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 20px;
    align-items: start;
}
.content-container .profile {
    width: 100%;
    max-width: 300px;
    margin-left: 100px; 
    border-radius: 200%;
    align-items: center;
    }

.content-container .intro {
    padding: 10px;
    align-content: center;
    justify-content: center;
    line-height: 2;
    padding: 20px;
    align-content: center;    
  }


.grid-item {

    padding: 20px; /* Padding inside each item */
    text-align: center; /* Center-align text */
  }
  
.grid-item h3 {
    margin-top: 0;
  }
  
.icon-text-container {
    display: flex;
    align-items: center; /* Vertical alignment */
    justify-content: center; /* Horizontal alignment */
    flex-wrap: wrap;
  }
.icon-text-container p{
    text-align: center;
}

 .icon-text-container span{
    font-size: medium;
    font-weight: bold;
    padding: 30px 40px;
 }
/* ----------------------------------------------- */
/* gallery images*/
/* ----------------------------------------------- */
.gallery-images {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    margin: 20px 5px;
  }

.gallery {
    position: relative;
    width: 100%;
    height: 100%; /* Adjust as needed */
}


.gallery img {
    opacity: .7;
    width: 100%;
    height: 100%;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s;
    object-fit: cover;
}

.gallery:hover img {
    opacity: 1;
    -webkit-transform: scale(1.10);
    -ms-transform: scale(1.10);
    transform: scale(1.10);
}

.gallery figcaption {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #0b0b0b;
    text-align: center;
    background: rgba(245, 244, 244, 0.911);
    opacity: 0;
    transition: opacity 0.5s;
}

.gallery:hover figcaption {
    opacity: 1;
}
  

/* ----------------------------------------------- */
/* Contact Form*/
/* ----------------------------------------------- */

.contact-us {
    display: grid;
    background-color: #000000;
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 1rem;;
}

.contact-form {
    display: grid;
    gap: 1rem;
    justify-content: center;
}

.form-group {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
}

/* Adjustments for smaller screens */
@media screen and (max-width: 600px) {
    .form-group {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
}

/* Styles for labels, inputs, select, textarea */
label {
    align-self: center;
    color: #fff;
}

input[type="text"],
input[type="email"],
select,
textarea {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

.form-messages.success {
    display: none;
    background-color: rgba(33, 240, 4, 0.54);
}

.form-messages.error {
    display: none;
    background-color: rgba(241, 12, 12, 0.54);
}


/* ----------------------------------------------- */
/* FOOTER */
/* ----------------------------------------------- */

footer {
    background-color: rgba(0, 0, 0, 0.72);
    height: 35px;
}

.footer-nav li {
    list-style-type: none;
    float: left;
    border: 20px;
}

.copyright {
    color: #fff;
    text-align: center;
}
